/*  

CSS for JSLab Regex Generator

*/
.regex hr {
  border: 0;
  border-top: 1px solid #000;
}

.regex .tabCon {
  padding-left: 3px;
}

.regex .tab {
  border: 1px solid #000;
  border-bottom: 0;
  float: left;
  cursor: pointer;
  position: relative;
  padding: 2px 4px;
  z-index: 1;
  margin-left: -1px;
}

.regex .tab img {
  margin-left: 4px;
  vertical-align: middle;
}

.regex .selected {
  border-bottom: 1px solid #fff;
  top: -3px;
  padding-bottom: 5px;
  margin-bottom: -4px;
  margin-right: 1px;
}

.regex .group {
  border: 1px solid #000;
  display: none;
  padding: 4px;
}